.movie-container {
  position: relative;
}

.movie-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 605px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie-overlay {
  position: absolute;
  left: 0;
  top: 9%;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.76);
  height: 360px;
  border-top: 1px solid rgb(157, 143, 238);
  border-bottom: 1px solid yellowgreen;
  z-index: 2;
}

.movie-details {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-areas: 'movieImage movieBody';
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  height: 100vh;
  padding-top: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.tabs-section {
  position: absolute;
  top: 81%;
  right: 80px;
}

.movie-image {
  grid-area: movieImage;
  width: 330px;
  height: 550px;
  border: 1px solid white;

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.movie-body {
  grid-area: movieBody;

  .movie-overview {
    height: auto;

    .title {
      margin-top: -10px;
      font-size: 36px;
      font-weight: 700;
      color: #ffffff;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 25px;

      span {
        font-size: 24px;
        font-weight: 300;
        color: #4f5b68;
      }
    }

    .movie-genres {
      .genres {
        height: 49px;
        line-height: 49px;
        display: flex;
        margin-bottom: 25px;

        li {
          list-style: none;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: #ff376f;
          padding-right: 35px;
          margin-left: -20px;
        }
      }
    }

    .rating {
      height: 49px;
      line-height: 49px;
      display: flex;
      font-size: 25px;
      margin-bottom: 90px;
      align-items: center;
      color: white !important;
    }
  }
}

.trailers-heading {
  color: white;
  margin-top: 40px;
  margin-bottom: 160px;
  font-size: 34px;
  font-weight: 600;
}
.movie-trailers {
  margin: 0 auto;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  column-gap: 1rem;
  row-gap: 2.5rem;
  margin-top: -100px;
  iframe {
    height: 280px;
    border-radius: 10px;
    width: 440px;
    padding: 24px 36px;
    background: url('../../../assets/trailer-bg.png');
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (max-width: 1800px) {
  .tabs-section {
  }
}
@media screen and (max-width: 1100px) {
  .movie-bg {
    height: 500px;
  }

  .movie-overlay {
    height: 280px;
  }

  .movie-details {
    grid-template-columns: 330px 1fr;
  }
  .movie-image {
    width: 250px;
    height: 380px;
  }
  .movie-body {
    .movie-overview {
      .title {
        font-size: 28px;
      }
    }
    .rating {
      margin-left: 100px;
    }
  }
  .trailers-heading {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }

  // .tabs-section {
  //   bottom: 500px;
  //   right: 300px;
  // }

  .movie-trailers {
    iframe {
      height: 245px;
      width: 390px;
    }
  }
}

@media screen and (max-width: 940px) {
  .movie-trailers {
    iframe {
      height: 200px;
      width: 300px;
      padding: 18px 20px;
    }
  }
}

@media screen and (max-width: 770px) {
  .movie-bg {
    height: 300px;
  }

  .movie-overlay {
    height: 200px;
    top: 5%;
  }

  .movie-details {
    grid-template-columns: 200px 1fr;
    padding-top: 80px;
  }
  .movie-image {
    width: 190px;
    height: 270px;
  }

  .trailers-heading {
    margin-top: -480px;
    margin-bottom: 130px;
    font-size: 1.2rem;
  }
  .movie-trailers {
    margin-top: -100px;
    iframe {
      height: 170px;
      width: 280px;
      padding: 14px 28px;
    }
  }
}

@media screen and (max-width: 430px) {
  .movie-bg {
    height: 200px;
  }
  .movie-overlay {
    height: 134px;
  }
  .movie-details {
    grid-template-columns: 120px 1fr;
  }

  .movie-body {
    display: flex;
    .movie-overview {
      .title {
        font-size: 1rem;
      }
      .movie-genres {
        .genres {
          height: 30px;
          margin-top: -20px;
          line-height: 30px;
          li {
            font-size: 10px;
          }
        }
      }
    }
    .rating {
      font-size: 0.2rem;
      margin-left: -10px;
      margin-top: 20px;
    }
  }

  .movie-image {
    width: 120px;
    height: 184px;
    margin-top: -20px;
    padding-left: 20px;
  }
  .trailers-heading {
    margin-top: -640px;
  }
  .movie-trailers {
    margin-top: -100px;
    iframe {
      height: 120px;
      width: 160px;
      padding: 10px 3px;
    }
  }
}
