.main-content {
  margin-top: 0px;
  .grid-movie-titles {
    display: grid;
    grid-template-areas: 'movietype . pagination';
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: white;
    width: 90vw;
    margin: 20px auto 30px auto;

    .movie-type {
      grid-area: movietype;
      text-align: left;
      padding: 10px 30px;
    }

    .pagination {
      grid-area: pagination;
      padding: 10px 10px;
      text-align: right;
    }
  }
}

@media screen and (max-width: 705px) {
  .main-content {
    .grid-movie-titles {
      display: flex;
      .movie-type {
        font-size: 0.8rem;
        padding-right: 20px;
      }
      .pagination {
        display: flex;
        align-items: center;
      }
    }
  }
}
