.tabs {
  text-align: left;
  color: white;
  margin-top: -128px;
  background: rgba(80, 0, 120, 0.9);
  border-top: 1px solid white;
}

.tab-list {
  padding: 10px;
  padding-left: 24px;
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .tab-list {
    width: 19vw;
  }

  .tab-list-item {
    display: block;
    font-size: 13px;
    text-align: left;
  }

  .tab-list-active {
    color: #dcf836;
    border-bottom: none;
  }
}
