.grid {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: minmax(300px, 600px);
  row-gap: 5rem;
  column-gap: 3rem;
  margin-bottom: 2rem;
}

.grid-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  box-shadow: 1px 1px 8px rgba(240, 240, 240, 0.5);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: all 400ms;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(0.3);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  &:hover {
    box-shadow: 3px 3px 14px rgba(240, 240, 240, 0.5);
    transform: scale(1.01) translateX(-2px) translateY(-3px);
    filter: grayscale(0);
    .videoPreviewIcon {
      display: block;
    }
    .grid-read-more {
      .grid-cell-button {
        display: block;
        transform: scale(1);
      }
    }
    .grid-detail {
      opacity: 1;
    }
  }
  .videoPreviewIcon {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: yellow;
    display: none;
    width: 10%;
    margin: 0 auto 2rem;
    padding-right: 12%;
    transition: all 0.2s ease-in;
    position: relative;
    &:hover {
      transform: scale(1.1);
      &::before {
        display: block;
        top: -95px;
      }
    }
  }
  .videoPreviewIcon::before {
    content: 'Watch YouTube Trailer';
    font-size: 1.2rem;
    position: absolute;
    top: -100px;
    left: -18%;
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .grid-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    .grid-cell-button {
      color: lightgreen;
      border: 2px solid lightgreen;
      background-color: transparent;
      padding: 23px;
      font-size: 1.4rem;
      transform: scale(0);
      backdrop-filter: blur(30px);
      transition: all 0.2s ease-out;
      a {
        text-decoration: none;
        color: lightgreen;
      }
      &:hover {
        background-color: black;
        padding: 30px;
        font-size: 1.8rem;
        a {
          text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
        }
        border: 1px solid lightgreen;
      }
    }
  }

  .grid-detail {
    position: absolute;
    bottom: 2rem;
    outline: 2px solid lightgreen;
    outline-offset: 7px;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin: 0 1rem 0 1.2rem;
    padding: 8px 8px;
    width: 90%;
    transition-delay: 0.3s;
    transition: all 300ms ease-in;
    opacity: 0;
    .grid-detail-overlay {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      backdrop-filter: grayscale(0.9);
      color: white;
      .grid-detail-title {
        padding-right: 20px;
        border-right: 1px solid white;
        font-size: 1.8rem;
        text-align: left;
        margin-left: 10px;
      }
      .grid-detail-rating {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
    }
  }
}
