.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .stars {
    margin-left: 10px;
  }
}

.rating-star {
  color: yellow;
  font-size: 0.8rem;
  align-self: center;
}

.hollow-star {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  align-self: center;
}
